@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes animatedgradient{0%{background-position:0 50%}50%{background-position:100% 50%}to{background-position:0 50%}}

.bg-multi-color {
    background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
    animation: animatedgradient 4s ease infinite alternate;
    background-size: 300% 300%;
}

.submit-shadow {
    box-shadow: 0px 0px 42px 24px #d3d2d2a5;
}

.completion .h1 {
    color: red !important;
}